streamlit
nltk
scikit-learn
pandas
altair
numpy
Pillow

# SPAM MESSAGES

# 1). Congratulations! You have won a $1000 Walmart Gift Card. Click to claim

# 2).WINNER!! As a valued network customer you have been selected to receive a £900 prize reward! To claim call 09061701461. Claim code KL37. Valid 12 hours only


